body {
    line-height: 30px;
   padding: 0px;
   margin:0px;
   background: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-fancy-coffee-background-material-image_134209.jpg) no-repeat;
   background-size: cover;
   
   font-family: lato;
}


.main-container{
  font-family:'opensans-regular',sans-serif;
  min-height: 490px;
  text-align: center;
  color:white;
  padding-top: 200px;
    
  background-repeat: no-repeat;
  background-size: cover;
}





.navigation-bar ul li a{
 text-decoration:none;

}

.nav ul{
  float: right;
  list-style-type: none;
  margin: 40px;
}
.nav{
    background: rgba(0,0,0,0.5);
}
.nav a:hover{
    color: #4d4d4d;
    background: white;
    filter: brightness(85%);
    text-shadow: -1px -1px -1px black; 
}
ul li.active a{
  background-color: black;
  color:black; 
}
.nav ul li{
  display: inline-block;
  font-family:'opensans-regular',sans-serif;
}

.nav ul li a{
  padding: 8px 25px;
  color: white;
  font-size: 2vw;
  text-decoration: none;

}

.button{
    color: white;
}
img {
  border-radius: 50%;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}