html{
   scroll-behavior: smooth;
}
body {
    line-height: 30px;
   padding: 0px;
   margin:0px;
   background-color: lightgray;
}
.main-container{
  font-family:'opensans-regular',sans-serif;
  min-height: 150px;
  text-align: center;
  color:#ffffff;
  padding-top: 10px;
  background-color:#2E4351;
  padding-bottom: -5px;
  margin-bottom: 30px;
  font-size: 20px;
 }
   .content{
  font-family:'opensans-regular',sans-serif;
  text-align: center;
  color:#ffffff;
  padding-bottom: 20px;
  margin-top: -100px;
  background-color: #3A5267;
  margin-bottom: 10px;
  min-height: 50px;
  max-width: 100%;
  padding-top: 20px;
  font-size: 25px;
   }
.para1{
  letter-spacing: 0.5rem;
  color:yellow;
  font-size: 15px;
}
.content3{
  color:black;
}
.cont{
    font-size: 20px;
    padding-left: 350px;
    float: left;
    text-align: center;
    font-weight: lighter;
    font-family: cursive;
    background-color: #fff;
    color:#000;
    width: 500px;
    height: 300px;
    padding-top: 30px;
}
#imgs{
    float:left;
    padding-left:0px ;
    padding-top: 50;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    height: 400px;
}
.content2{
width: 80%;
margin: 25px auto 0px;
height: 80%;
color:black;
padding-top:0px ;
text-align:center;
padding-right:0px ;
font-family: levitica;
padding-left:150px;
padding-bottom: 30px;
margin-bottom: -70px;
}
.para{
  text-align: left;
  color:#364052;
  background-color:yellow;
  width: 79.7%;
  height: 80px;
margin-bottom: -10px;
  padding-left:30px;
}
.hobbies{
justify-content: center;
width:515px;
background-color: #fff;
padding-bottom: 200px;
margin-left: 200px;
margin-right: 500px;
}
ul{
color: #6B6B6B;
font-size: 20px;
}
.about{
margin-left: -1px;
margin-right: -1px;
color: #101624;
font-size: 30px;
background-color: #F7CE06;
padding: 20px;
}
.goalz{
justify-content: center;
width:515px;
color: #6B6B6B;
background-color: #fff;
padding-bottom: 130px;
margin-left: 790px;
margin-right: 100px;
margin-top: -630px;
margin-bottom: 300px;
}
table{
margin: auto;
width: 75%;
}
table, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
  text-align: center;
}
th{
background-color: Yellow;
text-align: center;
}
td{
background-color: white;
}
.table{
padding-top: 0px;
width: 1100px;
min-height: 450px;
background-color: #fff;
margin: 30px auto 0 auto;
margin-top: -270px;
}
.footer {
height: 200px;
margin-top:50px;
background-color: #354457;
text-align: left;
padding-top: -50px;
padding-bottom: 100px;
margin-bottom: 20px;
}
.foo{
margin-top:30px;
margin-left:200px;
padding-top:80px;
}